node_red.json
[{"id":"83153858.3943f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fc90396a.5315f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"71460c31.61ce84","type":"ui_tab","z":"","name":"reg page","icon":"dashboard","disabled":false,"hidden":false},{"id":"59c26e12.c3d45","type":"ui_group","z":"","name":"Regestration Form","tab":"71460c31.61ce84","order":1,"disp":true,"width":"6","collapse":false},{"id":"94384a60.d1b1f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f248c985.650398","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"49b3e36a.e55f1c","type":"ui_group","z":"","name":"Login Page","tab":"f248c985.650398","order":1,"disp":true,"width":"6","collapse":false},{"id":"fef9fb77.766488","type":"ui_group","z":"","name":"Customer Help","tab":"71460c31.61ce84","order":2,"disp":true,"width":"6","collapse":false},{"id":"ec8f33bd.84542","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false},{"id":"4407b053.3f518","type":"ui_group","z":"","name":"Bot","tab":"ec8f33bd.84542","order":1,"disp":true,"width":"6","collapse":false},{"id":"57bbf6a8.76b558","type":"ui_form","z":"83153858.3943f8","name":"","label":"","group":"59c26e12.c3d45","order":0,"width":0,"height":0,"options":[{"label":"Enter Name:","value":"name","type":"text","required":true,"rows":null},{"label":"Enter email:","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password:","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create","cancel":"cancel","topic":"","x":150,"y":220,"wires":[["b67d35ec.c265d8","ba7a6f12.2622e"]]},{"id":"b67d35ec.c265d8","type":"debug","z":"83153858.3943f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":140,"wires":[]},{"id":"ba7a6f12.2622e","type":"function","z":"83153858.3943f8","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["d85ea110.b69a3"]]},{"id":"d85ea110.b69a3","type":"cloudant out","z":"83153858.3943f8","name":"cloudant","cloudant":"","database":"sample","service":"node-red-zebpy-2020--cloudant-1597404552634-76667","payonly":true,"operation":"insert","x":600,"y":220,"wires":[]},{"id":"eb1bb5b2.b9fde8","type":"ui_form","z":"83153858.3943f8","name":"","label":"","group":"49b3e36a.e55f1c","order":1,"width":0,"height":0,"options":[{"label":"emailid","value":"email","type":"email","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"Login","cancel":"cancel","topic":"","x":90,"y":340,"wires":[["95a236cd.82bfc8"]]},{"id":"95a236cd.82bfc8","type":"function","z":"83153858.3943f8","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":340,"wires":[["dad7eed0.b2179"]]},{"id":"dad7eed0.b2179","type":"function","z":"83153858.3943f8","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["18f66a99.f77245"]]},{"id":"18f66a99.f77245","type":"cloudant in","z":"83153858.3943f8","name":"sample","cloudant":"","database":"sample","service":"node-red-zebpy-2020--cloudant-1597404552634-76667","search":"_id_","design":"","index":"","x":560,"y":340,"wires":[["311c6a7.2019d96"]]},{"id":"311c6a7.2019d96","type":"function","z":"83153858.3943f8","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":340,"wires":[["77b0a4c1.f053dc"]]},{"id":"77b0a4c1.f053dc","type":"ui_text","z":"83153858.3943f8","group":"49b3e36a.e55f1c","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":340,"wires":[]},{"id":"d699cb73.261ac8","type":"ui_form","z":"83153858.3943f8","name":"","label":"","group":"4407b053.3f518","order":0,"width":0,"height":0,"options":[{"label":"user input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":480,"wires":[["17a54628.a54c6a"]]},{"id":"17a54628.a54c6a","type":"function","z":"83153858.3943f8","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":480,"wires":[["ef9267dc.9ffdb8"]]},{"id":"ef9267dc.9ffdb8","type":"watson-conversation-v1","z":"83153858.3943f8","name":"","workspaceid":"1d93d5b2-49a9-4512-a9ad-1e7bc3959a76","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/d1d46a62-336b-4191-b770-3f0537661b17","timeout":"","optout-learning":false,"x":580,"y":480,"wires":[["9b2f573c.94b708","347bdc69.5724a4"]]},{"id":"9b2f573c.94b708","type":"debug","z":"83153858.3943f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":420,"wires":[]},{"id":"347bdc69.5724a4","type":"function","z":"83153858.3943f8","name":"","func":"msg_payload=msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":480,"wires":[["50fc8c0f.4420b4"]]},{"id":"50fc8c0f.4420b4","type":"ui_text","z":"83153858.3943f8","group":"4407b053.3f518","order":1,"width":"6","height":"6","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":480,"wires":[]}]